{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="content">
                <h5>My app</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nobis error sint, eos excepturi ipsa iste enim id, eum aperiam autem beatae maxime consectetur! Amet, nobis. Corporis amet ipsam temporibus.
                Aspernatur laboriosam, adipisci vero doloremque, at libero dicta nostrum architecto praesentium obcaecati eum? Quae laudantium reprehenderit laboriosam libero veniam. Quae sed autem accusamus dolore dicta vero minus itaque sit eligendi.
                Atque quisquam inventore totam quod provident dolore impedit commodi porro? Facere error veniam, dolorem aliquam sapiente, excepturi sequi, dolor recusandae consequuntur optio vel ullam ducimus nulla voluptates culpa earum aut.
                Earum obcaecati alias consequuntur id dolores cum est. Quidem, laudantium obcaecati id rem magnam ipsum nihil libero voluptate laborum dicta impedit a sit sequi saepe porro accusantium aliquid quis debitis?
                Dicta distinctio vel voluptas, officia nemo quidem repudiandae totam aut. Omnis minima amet hic corporis eos asperiores, fugit reprehenderit sapiente ratione nobis voluptatibus pariatur laboriosam sunt nesciunt officia earum at.</p>
            </div>
            <p>This is the landing page</p>
            
        </div>
    </div>
{% endblock %}